# Server Configuration
PORT=3000
NODE_ENV=development

# External API Configuration
POLLUTION_API_BASE_URL=
POLLUTION_API_USERNAME=
POLLUTION_API_PASSWORD=

# Wikipedia API Configuration
WIKIPEDIA_API_BASE_URL=

# Cache Configuration
CACHE_TTL=3600

# Logging Configuration
LOG_LEVEL=info 